@use '../../base';

.listing {
    background: base.$accent-color;
    border-radius: 30px;

    .listing-photo {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
    }

    a {
        text-decoration: none;
        color: base.$primary-color;
    }

    .info {
        padding: 5px 20px 20px 20px;

        .listing-heading {
            color: base.$primary-color;
            font-size: 1.5rem;
            font-weight: 700;
    }

        .listing-location {
            display: flex;
            margin: 0.5rem 0;
            align-items: flex-end;
        }
    }
}
